@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family:"Poppins" , sans-serif;
    @apply text-secondary;  
}
.shadowbox-sm{
  @apply shadow-md shadow-gray-300;
}
.shadowbox{
  box-shadow: rgba(100, 100, 111, 0.2) 0px .4375rem 1.8125rem 0px;
}
.shade{
  @apply backdrop-blur-sm bg-secondary bg-opacity-30;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  
  box-sizing: border-box;
}
