@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  @apply text-secondary;
}


@layer components{
  .list-pagination{
    @apply w-[8px] h-[8px] rounded-full bg-grey-dark mx-1 inline-block cursor-pointer;
  }
  .list-pagination-active{
    @apply bg-primary;
  }
  
  .shadowbox-sm {
    @apply shadow-md shadow-gray-300;
  }

  .shadowbox {
    box-shadow: 0 .25rem 1.875rem rgba(0, 0, 0, 0.1);
  }

  .shade {
    @apply backdrop-blur-sm bg-secondary bg-opacity-30;
  }

}
a {
  color: inherit;
  text-decoration: none;
}

* {

  box-sizing: border-box;
}

.glassbox {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 .25rem 1.875rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.59);
}